.experiencia {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  padding: 40px 20px;
  margin: 0 auto;


  h3 a {

    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.2s ease;
    border: transparent 1px solid;
    
    

  }

  a:hover{
      background-color: rgb(228, 245, 217);
    }
  

  .titulo-exp {
    max-height: auto;
    font-size: 7rem;
    word-break: break-all;
    text-transform: uppercase;
    font-family: bold;
    color: #c3c3c3;
  }

  .projetos {
    display: grid;
    gap: 20px;

    .subtitulo {
      margin-top: 30px;
      margin-bottom: 30px;
    }


    .projeto {
      padding: 20px;
      display: flex;
      background-color: #f3f3f3;
      border-radius: 4px;
      gap: 60px;
      position: relative;

      h3 {
        margin-bottom: 15px;
      }
    }

    .projeto::before {
      content: "";
      width: 5px;
      height: 20px;
      background-color: greenyellow;

      position: absolute;
      left: -5px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      li {
        display: flex;
        gap: 5px;

        a {

          text-decoration: none;
          background-color: white;
          border-radius: 4px;

          color: black;
          padding: 5px;
          margin: 0px;
          transition: background-color 0.2s ease;

        }

        a:hover {

          background-color: greenyellow;


        }
      }


    }


  }
}

@media (max-width: 700px) {

  .experiencia {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    .titulo-exp {
      font-size: 3rem;
      text-align: center;
    }
  }

  main {

    border-bottom: #c3c3c3 1px dashed;

  }




}