.experiencia {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px 20px;
  margin: 0 auto;
  gap: 100px;

  .titulo-exp {
    font-size: 90px;
    word-break: break-all;
    text-transform: uppercase;
    font-family: bold;
    color: #c3c3c3;
  }

  .exe-projetos {
    margin-top: 20px; /*pra o texto p do lado direito alinhar com o h2 da equerda*/
  }
  .descricao-proj {
    font-size: 20px;
  }
  .projeto {
    gap: 1rem;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    background-color: #f8f3f3;

    ul {
      display: flex;
      gap: 10px;

      li {
      }
    }
  }
}
