.formacao {
  background-color: #131313;
  max-width: 1200px;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  margin: 0 auto;

  .formacao-descricao {
    color: #c6c6c6;
    font-size: 20px;

    strong {
      color: white;
    }
  }

  .titulo-formacao {
    max-height: auto;
    font-size: 90px;
    word-break: break-all;
    text-transform: uppercase;
    font-family: bold;
    color: black;
  }

  .cursos {
    margin-top: 20px;
    display: grid;
    gap: 30px;

    .form-cards {
      display: flex;
      gap: 40px;

      .cards {
        display: grid;
        background-color: black;
        border-radius: 5px;
        width: auto;
        padding: 30px 80px 20px 10px;
        gap: 10px;

        .grau-form {
          color: #c6c6c6;
        }

        p {
          color: aliceblue;
        }
      }
    }
  }
}

.bg-collor {
  background-color: #131313;
}
